<?php

define('GLPI_URL',      "http://path/to/glpi/");
define('API_APP_TOKEN', "`Application token (app_token)` of GLPI API client");
define('USER_TOKEN',      "user_token XXXXXX"); # please XXX only, maintain "user_token "

